* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tarjeta-asignatura {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd;
}

.tarjeta-asignatura:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); [cite: 13, 33]
}

.portada-clase {
    height: 150px;
    background-image: url('https://www.flagcolorcodes.com/data/flag-of-getafe-cf.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
}

.contenido-tarjeta {
    padding: 20px;
    text-align: center;
}

.titulo-clase {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.nombre-docente {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}


.contenedor-badges {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 25px;
}

.badge {
    background: #e9ecef;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid #ccc;
}

.btn-aula {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 2px solid #020638;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-aula:hover {
    background-color: #1a0251;
    color: white;
}

@media (min-width: 768px) {
    .tarjeta-asignatura {
        max-width: 350px; 
    }
}